
hl,h2,h3,hs,hs,he,.hi..h2..h3, .h1,
.hs, .h6 (
font-family: 'Noto Sans IC', sans-
.mubheading (
font-family:
font-size: 1.2rem;
'Noto Sans TC',
font-veight: normal;
hl,h2, h3, hi, hs, he,
,gubheadingl
text-tran
ransform: none:
무h,
.hl (
font-size:
Ep.lead (
font-#ize: 1.2rem:
무.bg-prmary(
backgrou
nd-color:
#0010c21
!tmportant:
backgrotund-image: u
url(../a
/* This
La soacly intended toz pzotocyping: please
ssets/1mg/al
lways-grey.png)
.cext-primary (
color:
#0010c21important:
#0010c2: