body  {
font-family: 'Noto Sans TC', sans-serif;
}

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
font-family: 'Noto Sans TC', sans-serif;
}

subheading {
font-family: 'Noto Sans TC', sans-serif;
font-size: 1.2rem;
font-weight: normal ;



}
.bg-primary{
background-color: #00ab9d!important;
background-image: url(assets/alwa7ys-grey.png);
/* This is mostly intended for prototyping; please download the pattern and re-host for production environments. Thank you! */